
      <div class="jumbotron text-center">
        <h1>Hello world!</h1>
        <p class="lead">You must login with Facebook to see this page.</p>
        <p>
        <a href="/users/auth/facebook">
        <%= image_tag "facebook_64.png", :size => '64x64', :alt => 'Facebook' %>
        </a>
        </p>
      </div>
