<h1 class="page-title">Categories <small>category list</small></h1>

<!-- Begin Breadcrumb -->
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="dashboard">Dashboard</a></li>
	<li class="active">Categories</li>
</ol>

<div class="row">
	<div class="col-md-12 action-row">
		<%= link_to "New Category", new_category_path, remote: true, class: "btn btn-primary pull-right" %>
	</div>
</div>

<div class="box-form"></div>

<div class="table-responsive">
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr class="heading">
				<th>#</th>
				<th>Category Name</th>
				<th>Created Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody id="category-index">
			<%= render "index" %>
		</tbody>
	</table>
</div>
<div class="modal bs-example-modal-sm fade" id="category-modal">
  
</div><!-- /.modal -->
